@import './reset.css';
/* = = = = = = = = = = = = = = = = */
/* BASE STYLES                     */
/* = = = = = = = = = = = = = = = = */
a {
    font-weight: 700;
    text-decoration: none;
}

h3 {
    font-size: 2rem;
}

/* = = = = = = = = = = = = = = = = */
/* FLEXBOX                         */
/* = = = = = = = = = = = = = = = = */
.banner, header nav, header ul, .main, .blog-card, .blog-info {
    display: flex;
    align-items: center;
}