@import './reset.css';
/* = = = = = = = = = = = = = = = = */
/* BASE STYLES                     */
/* = = = = = = = = = = = = = = = = */
body * {
    color: #1a1a1a;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #0b8fed;
}

p {
    text-align: justify;
}

h2, h3, code * {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-size: 2rem;
}

button {
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    color: #FFF;
}

code {
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    background-color: #EEE;
}

iframe {
    width: 100%;
    height: 300px;
}

a h2:hover, a h4:hover, header a:hover, .main-content a:hover, 
a i:hover {
    color: #0b8fed;
}

/* = = = = = = = = = = = = = = = = */
/* FLEXBOX                         */
/* = = = = = = = = = = = = = = = = */
.banner, header, header nav, header nav ul, 
.blog-info div, .follow-card ul, .trending-item, 
footer {
    display: flex;
    align-items: center;
}