@import './reset.css';
/* = = = = = = = = = = = = = = = = */
/* BASE STYLES                     */
/* = = = = = = = = = = = = = = = = */
a {
    font-weight: 700;
    color: #0b8fed;
}

h2 {
    font-size: 2rem;
}

/* = = = = = = = = = = = = = = = = */
/* FLEXBOX                         */
/* = = = = = = = = = = = = = = = = */
.banner, header, header nav ul, .main-content, .blog-info div {
    display: flex;
    align-items: center;
}