@import './base.css';
/* = = = = = = = = = = = = = = = = */
/* WRAPPER                         */
/* = = = = = = = = = = = = = = = = */


/* = = = = = = = = = = = = = = = = */
/* HEADER                          */
/* = = = = = = = = = = = = = = = = */
header {
    padding: 30px 150px;
    font-family: 'Quicksand', sans-serif;
}

header nav {
    justify-content: space-between;
    width: 100%;
}

header nav ul {
    gap: 20px;
}